@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400&display=swap&text=↑→↓←↗");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

button {
  background: none;
  border: none;
  padding: 0;
  margin: 0;
}

button:hover {
  cursor: pointer;
}

a {
  text-decoration: none;
}

@font-face {
  font-family: "EDNimpkish-Regular";
  src: url("../font/ed-nimpkish-regular.eot");
  src: url("../font/ed-nimpkish-regular.eot?#iefix") format("embedded-opentype"), url("../font/ed-nimpkish-regular.woff2") format("woff2"), url("../font/ed-nimpkish-regular.woff") format("woff"), url("../font/ed-nimpkish-regular.ttf") format("truetype"), url("../font/ed-nimpkish-regular.svg#youworkforthem") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Inter";
  src: url("../font/Inter-VariableFont_slnt,wght.ttf") format("truetype");
}
* {
  scroll-behavior: smooth;
  box-sizing: border-box;
}

li {
  list-style: none;
}

body {
  overflow-x: hidden;
  font-family: "Inter";
  color: #FFFFFF;
  background: #0F0FEE;
  font-size: 14px;
  line-height: 20px;
}

a {
  color: #FFFFFF;
}

.about p, .contact p, .works p {
  max-width: 360px;
}

img.icon {
  max-width: 150px;
}

h2 {
  font-family: "EDNimpkish-Regular";
  font-size: 128px;
  line-height: 128px;
  text-transform: lowercase;
}
h2 span {
  text-transform: uppercase;
}

section, main {
  padding: 96px 0;
}
section.works, section.contact, main.works, main.contact {
  color: #0F0FEE;
  background: #FFFFFF;
}
section.works a, section.contact a, main.works a, main.contact a {
  color: #0F0FEE;
}

.wrap {
  max-width: 1400px;
  margin: auto;
  padding: 0 112px;
}

.link a:hover, .social a:hover {
  text-decoration: underline;
}

.social:after {
  content: "↗";
  margin-left: 5px;
}

@media all and (max-width: 1350px) {
  h2 {
    font-size: 112px;
    line-height: 112px;
  }
}
@media all and (max-width: 1024px) {
  .wrap {
    max-width: 950px;
    margin: auto;
    padding: 0 72px;
  }
  h2 {
    margin: auto;
    text-align: center;
  }
  section, main {
    padding: 72px 0;
  }
}
@media all and (max-width: 767px) {
  .about p, .contact p, .works p {
    margin: auto;
    max-width: 275px;
  }
  .wrap {
    max-width: 730px;
    margin: auto;
    padding: 0 52px;
  }
  section, main {
    padding: 80px 0;
  }
}
@media all and (max-width: 480px) {
  .wrap {
    max-width: 400px;
    margin: auto;
    padding: 0 32px;
  }
  h2 {
    font-size: 72px;
    line-height: 82px;
  }
}
@keyframes slide-in {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}
div.button {
  display: flex;
}
div.button.discover a::after {
  content: "↓";
}
div.button a {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 12px 16px;
  transition: all ease 1s;
}
div.button a::after {
  content: "↗";
  padding-left: 5px;
}
div.button a.dark {
  border: 2px solid #0F0FEE;
  box-shadow: inset 0 0 0 0 #0F0FEE;
}
div.button a.dark:hover {
  color: #FFFFFF;
  box-shadow: inset 1000px 0 0 0 #0F0FEE;
}
div.button a.light {
  border: 2px solid #FFFFFF;
  box-shadow: inset 0 0 0 0 #FFFFFF;
}
div.button a.light:hover {
  box-shadow: inset 1000px 0 0 0 #FFFFFF;
  color: #0F0FEE;
}

span.line {
  border-left: 2px solid #FFFFFF;
  height: 150px;
  display: block;
  margin: 12px auto;
}
span.line.dark {
  border-left: 2px solid #0F0FEE;
}

div.error {
  min-width: 100vw;
  min-height: 100vh;
  background: #0F0FEE;
  display: flex;
  justify-content: center;
  vertical-align: center;
}
div.error div.line {
  display: flex;
  justify-content: center;
}
div.error h1 {
  font-family: "EDNimpkish-Regular";
  text-transform: lowercase;
  font-size: 100px;
  line-height: 100px;
}
div.error h1 span {
  text-transform: uppercase;
}
div.error a {
  text-decoration: underline;
}
div.error a::after {
  content: "↗";
  padding-left: 3px;
}

header li img {
  width: 25px;
}
header .overlay li img {
  width: 50px;
}
header a.mobile {
  display: flex;
  justify-content: center;
}
header img.logo {
  width: 40px;
}
header .header-pc {
  background: rgba(15, 15, 238, 0.9);
  z-index: 2;
  padding: 16px 0;
  position: fixed;
  width: 100vw;
}
header .header-pc * {
  display: flex;
  align-items: center;
}
header .header-pc > .wrap {
  display: flex;
  justify-content: space-between;
}
header .header-pc .left nav > ul {
  display: flex;
  gap: 32px;
}
header .header-mobile {
  display: none;
  padding: 16px 0;
  width: 100vw;
  position: fixed;
  background: rgba(15, 15, 238, 0.9);
  z-index: 2;
}
header .header-mobile .container .menu-mobile {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .header-mobile .overlay {
  display: none;
}

@media all and (max-width: 1024px) {
  header .header-pc {
    display: none;
  }
  header .header-mobile {
    display: block;
  }
}
/*

@media all and (max-width: 1200px) {


}

@media all and (max-width: 1024px) {


}

@media all and (max-width: 767px) {


}

@media all and (max-width: 480px) {


}

*/
main {
  min-height: 100vh;
  display: grid;
  place-items: center;
}
main p, main h1 {
  margin-bottom: 12px;
}
main p {
  font-size: 26px;
}
main h1 {
  font-family: "EDNimpkish-Regular";
  font-size: 130px;
  line-height: 140px;
  text-transform: lowercase;
}
main h1 span {
  text-transform: uppercase;
}
main .wrap > div {
  margin: auto;
  display: flex;
  flex-direction: column;
  margin-top: 5vw;
}
main .wrap > div img {
  margin-bottom: 12px;
  max-width: 400px;
}
main .wrap > div div.button {
  justify-content: center;
}

@media all and (max-width: 1024px) {
  main h1 {
    font-size: 100px;
    line-height: 100px;
  }
}
@media all and (max-width: 480px) {
  main h1 {
    font-size: 80px;
    line-height: 90px;
    text-align: left;
  }
  main p {
    font-size: 20px;
    text-align: left;
  }
}
section.works .wrap > div.line {
  margin-left: 20%;
  margin-bottom: 64px;
}
section.works div.button {
  justify-content: center;
}
section.works div.flex-container {
  display: flex;
  gap: 48px;
  vertical-align: top;
}
section.works div.flex-container img {
  transform: rotate(18deg);
}
section.works div.project-container {
  margin: auto;
  margin-bottom: 48px;
  max-width: 1000px;
  position: relative;
}
section.works div.project-container:hover {
  cursor: url(../img/icon.svg), auto;
}
section.works div.project-container img {
  object-fit: cover;
  width: 600px;
  height: 300px;
}
section.works div.project-container h3 {
  font-family: "EDNimpkish-Regular";
  font-size: 26px;
  line-height: 32px;
  text-transform: lowercase;
}
section.works div.project-container p.number {
  font-family: "EDNimpkish-Regular";
  font-size: 155px;
  line-height: 155px;
  margin-bottom: -14px;
}
section.works div.project-container .overlay {
  display: grid;
  align-items: center;
  visibility: hidden;
  opacity: 0;
  position: absolute;
  top: 0;
  bottom: 0;
  transition: all 0.5s;
  background: rgb(15, 15, 238);
  color: #FFFFFF;
  grid-template-columns: repeat(4, min-content);
  column-gap: 32px;
  padding: 0 32px;
  width: 0;
  overflow: hidden;
}
section.works div.project-container .overlay.left {
  grid-template-areas: "number descriptif line category";
  left: 0;
}
section.works div.project-container .overlay.right {
  grid-template-areas: "category line descriptif number";
  text-align: right;
  right: 0;
  justify-content: end;
}
section.works div.project-container .overlay .grid-item-1 {
  grid-area: number;
}
section.works div.project-container .overlay .grid-item-2 {
  grid-area: descriptif;
  min-width: 350px;
}
section.works div.project-container .overlay .grid-item-2 p {
  text-transform: none;
}
section.works div.project-container .overlay .grid-item-2 h3 {
  margin-bottom: 12px;
}
section.works div.project-container .overlay .grid-item-3 {
  grid-area: line;
  grid-template-columns: 50px;
  display: flex;
}
section.works div.project-container .overlay .grid-item-3 span {
  margin: auto;
}
section.works div.project-container .overlay .grid-item-4 {
  grid-area: category;
  min-width: max-content;
  display: flex;
  text-transform: lowercase;
  font-family: "EDNimpkish-Regular";
  font-size: 16px;
  line-height: 24px;
  margin: 16px auto;
}
section.works div.project-container .overlay .grid-item-4 > ul {
  margin: auto;
  display: grid;
  gap: 5px;
}
section.works div.project-container div.grid-container {
  display: grid;
  grid-auto-rows: minmax(0, auto);
  box-shadow: rgba(9, 30, 66, 0.25) 0px 1px 1px, rgba(9, 30, 66, 0.13) 0px 0px 1px 1px;
}
section.works div.project-container div.grid-container .grid-item-1 {
  grid-area: intro;
  display: flex;
  padding: 0 32px;
  flex-direction: column;
  justify-content: center;
}
section.works div.project-container div.grid-container .grid-item-2 {
  grid-area: image;
  display: flex;
  flex-direction: column;
}
section.works div.project-container div.grid-container.left {
  grid-template-areas: "intro image";
}
section.works div.project-container div.grid-container.left .grid-item-2 {
  justify-content: end;
}
section.works div.project-container div.grid-container.left .grid-item-2 img {
  align-self: end;
}
section.works div.project-container div.grid-container.right {
  grid-template-areas: "image intro";
}
section.works div.project-container div.grid-container.right .grid-item-1 {
  text-align: right;
}
section.works div.project-container:hover .grid-container .grid-item-1 {
  visibility: hidden;
  opacity: 0;
}
section.works div.project-container:hover .overlay {
  visibility: visible;
  opacity: 1;
  margin: auto;
  width: 80%;
}

@media all and (max-width: 1200px) {
  section.works div.project-container:hover .overlay {
    width: 100%;
  }
}
@media all and (max-width: 1024px) {
  section.works .wrap > div.line {
    display: flex;
    margin-left: auto;
  }
  section.works .wrap div.flex-container {
    flex-direction: column;
    align-items: center;
  }
  section.works .wrap div.project-container {
    max-width: 500px;
    margin-bottom: 64px;
    display: flex;
    flex-direction: column;
  }
  section.works .wrap div.project-container:hover .grid-container .grid-item-1 {
    visibility: visible;
    opacity: 1;
  }
  section.works .wrap div.project-container:hover .overlay {
    visibility: hidden;
    opacity: 0;
  }
  section.works .wrap div.project-container h3:after {
    content: "↗";
    font-family: "Inter";
    margin-left: 5px;
  }
  section.works .wrap div.project-container .overlay {
    display: none;
  }
  section.works .wrap div.project-container div.grid-container.right .grid-item-1 {
    justify-content: end;
  }
  section.works .wrap div.project-container div.grid-container.right .grid-item-1 p {
    order: 2;
  }
  section.works .wrap div.project-container div.grid-container.left .grid-item-1 {
    justify-content: start;
  }
  section.works .wrap div.project-container div.grid-container.left, section.works .wrap div.project-container div.grid-container.right {
    grid-template-areas: "intro" "image";
  }
  section.works .wrap div.project-container div.grid-container.left .grid-item-1, section.works .wrap div.project-container div.grid-container.right .grid-item-1 {
    padding: 24px;
    flex-direction: row;
    align-items: center;
    gap: 32px;
  }
  section.works .wrap div.project-container div.grid-container.left .grid-item-2, section.works .wrap div.project-container div.grid-container.right .grid-item-2 {
    justify-content: center;
  }
  section.works .wrap div.project-container div.grid-container.left .grid-item-2 img, section.works .wrap div.project-container div.grid-container.right .grid-item-2 img {
    align-self: center;
  }
  section.works .wrap div.project-container {
    padding: 0;
    left: auto;
    right: auto;
  }
  section.works .wrap div.project-container img {
    object-fit: cover;
    width: 100%;
    max-height: 100%;
  }
}
section.about img {
  max-width: 400px;
}
section.about div.button {
  justify-content: center;
}
section.about div.grid-container {
  display: grid;
  grid-template-areas: ". header" "profile list" "info . ";
}
section.about div.grid-container .grid-item-1 {
  grid-area: header;
}
section.about div.grid-container .grid-item-2 {
  grid-area: list;
  display: inline-flex;
  margin-left: 20%;
}
section.about div.grid-container .grid-item-2 > div {
  display: flex;
  flex-direction: column;
  justify-items: center;
}
section.about div.grid-container .grid-item-2 li {
  margin: 6px;
}
section.about div.grid-container .grid-item-2 li a:hover {
  text-decoration: underline;
}
section.about div.grid-container .grid-item-2 li a:hover::after {
  text-decoration: none;
}
section.about div.grid-container .grid-item-2 p {
  margin: 24px 0;
}
section.about div.grid-container .grid-item-2 span.line {
  margin: 12px 0 12px 24px;
}
section.about div.grid-container .grid-item-3 {
  grid-area: profile;
  justify-content: center;
  display: flex;
}
section.about div.grid-container .grid-item-4 {
  grid-area: info;
}
section.about div.grid-container .grid-item-4 p {
  margin: 12px auto 48px auto;
}

@media all and (max-width: 1024px) {
  section.about div.grid-container {
    display: grid;
    grid-template-areas: "header" "profile" "list" "info";
  }
  section.about div.grid-container .grid-item-1 {
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  section.about div.grid-container .grid-item-1 p {
    margin: auto;
    margin-bottom: 48px;
  }
  section.about div.grid-container .grid-item-2 {
    justify-content: center;
    margin-left: 0;
  }
  section.about div.grid-container .grid-item-2 div:first-of-type {
    display: flex;
    order: 2;
    justify-content: center;
  }
  section.about div.grid-container .grid-item-3 {
    justify-content: center;
  }
  section.about div.grid-container .grid-item-3 img {
    max-width: 350px;
  }
}
@media all and (max-width: 480px) {
  section.about div.grid-container .grid-item-3 img {
    max-width: 275px;
  }
}
section.contact h3 {
  text-align: left;
  font-family: "EDNimpkish-Regular";
  font-size: 64px;
  line-height: 70px;
}
section.contact h3:last-of-type {
  font-size: 24px;
  line-height: 30px;
}
section.contact div.grid-container {
  display: grid;
  grid-column: 3;
  grid-auto-columns: minmax(15px, auto);
  grid-template-areas: "title title ." "paragraph . ." "toggle contact contact";
}
section.contact div.grid-container .grid-item-1 {
  grid-area: title;
}
section.contact div.grid-container .grid-item-2 {
  grid-area: paragraph;
}
section.contact div.grid-container .grid-item-3 {
  grid-area: toggle;
  display: flex;
  flex-direction: column;
}
section.contact div.grid-container .grid-item-3 div.button {
  justify-content: center;
}
section.contact div.grid-container .grid-item-4 {
  display: flex;
  flex-direction: column;
  align-items: end;
  grid-area: contact;
  align-self: end;
}
section.contact div.grid-container .grid-item-4 img {
  transform: rotate(10deg);
}

@media all and (max-width: 1024px) {
  section.contact div.grid-container {
    display: grid;
    margin: auto;
    grid-template-areas: "title" "paragraph" "contact" "toggle";
  }
  section.contact div.grid-container .grid-item-4 {
    align-items: center;
  }
  section.contact div.grid-container h2 {
    margin-bottom: 12px;
  }
  section.contact div.grid-container p {
    margin: 0 auto 32px auto;
  }
}
@media all and (max-width: 767px) {
  section.contact h3 {
    font-size: 56px;
  }
}
@media all and (max-width: 480px) {
  section.contact h3 {
    font-size: 48px;
  }
}
footer {
  padding: 64px 0 32px 0;
}
footer .copyright {
  font-size: 10px;
}
footer img {
  width: 30px;
}
footer div.language {
  display: flex;
}
footer div.language p a {
  text-transform: uppercase;
}
footer div.language span::after {
  display: block;
  content: "|";
  color: #FFFFFF;
  padding: 0 6px;
}
footer p {
  text-align: center;
}
footer div.container {
  display: flex;
  flex-direction: column;
  justify-content: end;
  margin-bottom: 32px;
  text-align: right;
}
footer div.container > div:first-of-type {
  align-self: end;
  margin-bottom: 32px;
}
@media all and (max-width: 1024px) {
  footer div.container {
    flex-direction: column;
    text-align: center;
  }
  footer .socials {
    margin: 0 24px;
  }
  footer div.language {
    margin: auto;
  }
}
div.header-mobile .hamburger img {
  height: 18px;
}
div.header-mobile div.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: none;
}
div.header-mobile div.open {
  display: flex;
  justify-content: center;
  align-items: center;
}
div.header-mobile div.menu-fixed {
  margin-top: 16px;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #0F0FEE;
  z-index: 1;
  cursor: pointer;
  overflow: hidden;
}
div.header-mobile nav ul {
  z-index: 2;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin-top: 20px;
}
div.header-mobile nav ul li {
  margin-bottom: 24px;
  animation: 0.3s print;
  display: flex;
  justify-content: center;
}
div.header-mobile nav ul li.menu:hover {
  text-decoration: underline;
}
div.header-mobile nav ul li.social {
  margin-left: 20px;
}
div.header-mobile nav ul li.social:after {
  font-size: 20px;
}
div.header-mobile nav ul li a {
  text-align: center;
  font-family: "Inter";
  font-size: 26px;
  line-height: 36px;
  color: #FFFFFF;
}

/*
//menu

header {
  padding: 48px 0;
}

nav {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: none;
  //

  ul {
    z-index: 2;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    li {
      text-align: center;
      margin-bottom: 24px;
      animation: .3s print;

      a {
        font-family: $title;
        font-weight: 700;
        font-size: 48px;
        line-height: 54px;
        color: $blue;


      }

      a {

        &:after {
          content: '.';
          letter-spacing: -10px;
          opacity: 0;
          transition: letter-spacing 0.3s ease-out, opacity 0.3s ease-out;
        }

      &:hover {

        &:after {
          text-indent: 0px;
          letter-spacing: normal;
          opacity: 1;

        }
      }



      }


    }
  }


}

.open {
  display: flex;
  justify-content: center;
  align-items: center;
}

//backdrop
.overlay  {
  position: fixed;
  top:0;
  bottom:0;
  left:0;
  right:0;
  background: $orange;
  z-index: 1;
  cursor: pointer;
  overflow: hidden;
}

.hamburger {
  display: flex;
  justify-content: space-between;

  img {
    transition: 0.4s ease;
    &.logo {
    width: 15px;
  }


    &:hover {
      transform: scale(1.2);


    }

  }

}



@keyframes print {

  from {
    margin-top: -50px;
    opacity: 0;
  }

  to {
    margin-top: 0;
    opacity: 1;
  }

}

@keyframes fade {

  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }

}


//header

/*
header {

  div.menu {
    display: none;
  }

  div.hamburger {
    display: flex;
    justify-content: space-between;
    padding: 48px 0;

  }


}



.menu {
  display: none;
  position: absolute;
  overflow: hidden;
  top:0;
  bottom: 0;
  left: 0;
  right: 0;
  background: $orange;
  z-index: 100;

  > .wrap div {
    display: flex;
    justify-content: space-between;
    align-items: end;
    padding: 48px 0;
  }


  a {
    font-family: 'Media Sans Extended';
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 53px;
    color: $blue;
    display: block;
  }
}




.delete-image {
  z-index: 10;
}


*/
* ::selection {
  background: yellow;
  color: #0F0FEE;
}

*.works::selection, *.contact::selection {
  background: #0F0FEE;
  color: #FFFFFF;
}

.fade-in {
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
}

.aleft {
  transform: translateX(-1500px);
}

.aright {
  transform: translateX(1500px);
}

.atop {
  transform: translateY(-1500px);
}

.abottom {
  transform: translateY(1500px);
}

/*# sourceMappingURL=style.css.map */
