
// Variables

$blue : #0F0FEE;
$white : #FFFFFF;
$yellow : yellow;
$title : 'ED Nimpkish';
$paragraph : 'Inter';


//Import font

@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

//Global

* {
  scroll-behavior: smooth;
  box-sizing: border-box;
}

body {
  font-family: $paragraph;
  color: $white;
  background: $blue;
  font-size: 14px;
  line-height: 20px;
}

a {
  color:$white;
 text-transform: lowercase;
}


.about, .contact, .works {
  p {
    max-width: 350px;
  }
}

img.icon {
  max-width: 150px;
}

h2 {
  font-family: $title;
  font-size: 128px;
  line-height: 128px;
  text-transform: lowercase;

  span {
    text-transform: uppercase;
  }

}


section, main {
  padding: 96px 0;

  &.works, &.contact {
    color: $blue;
    background: $white;

    a {
      color: $blue;
    }

  }

}

.wrap {
  max-width: 1400px;
  margin: auto;
  padding: 0 112px;

}





@media all and (max-width: 1024px) {
  .wrap {
    max-width: 900px;
    margin: auto;
    padding: 0 72px;
  }

  h2 {
    font-size: 112px;
    line-height: 112px;
    margin: auto;
    text-align: center;

  }


}







//animation
@keyframes slide-in {
  from {
    transform: translateX(100%);
  }

  to {
    transform: translateX(0);
  }
}