

div.header-mobile {

  .hamburger img {
    height: 18px;
  }

  div.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: none;


  }

  div.open {
    display: flex;
    justify-content: center;
    align-items: center;
  }



  div.menu-fixed {
    position: fixed;
    top:0;
    bottom:0;
    left:0;
    right:0;
    background: $blue;
    cursor: pointer;
    overflow: hidden;
    z-index: 100;





  }

nav {
  ul {
    z-index: 2;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-top: 20px;

    li {
      margin-bottom: 24px;
      animation: .3s print;
      display: flex;
      justify-content: center;

      &.menu:hover {
        text-decoration: underline;
      }

      &.social {
        margin-left: 20px;

        &:after {
          font-size: 20px;
        }
      }

      a {
        text-align: center;
        font-family: $paragraph;
        font-size: 26px;
        line-height: 36px;
        color: $white;


      }
    }
  }

}



}




/*
//menu

header {
  padding: 48px 0;
}

nav {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: none;
  //

  ul {
    z-index: 2;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    li {
      text-align: center;
      margin-bottom: 24px;
      animation: .3s print;

      a {
        font-family: $title;
        font-weight: 700;
        font-size: 48px;
        line-height: 54px;
        color: $blue;


      }

      a {

        &:after {
          content: '.';
          letter-spacing: -10px;
          opacity: 0;
          transition: letter-spacing 0.3s ease-out, opacity 0.3s ease-out;
        }

      &:hover {

        &:after {
          text-indent: 0px;
          letter-spacing: normal;
          opacity: 1;

        }
      }



      }


    }
  }


}

.open {
  display: flex;
  justify-content: center;
  align-items: center;
}

//backdrop
.overlay  {
  position: fixed;
  top:0;
  bottom:0;
  left:0;
  right:0;
  background: $orange;
  z-index: 1;
  cursor: pointer;
  overflow: hidden;
}

.hamburger {
  display: flex;
  justify-content: space-between;

  img {
    transition: 0.4s ease;
    &.logo {
    width: 15px;
  }


    &:hover {
      transform: scale(1.2);


    }

  }

}



@keyframes print {

  from {
    margin-top: -50px;
    opacity: 0;
  }

  to {
    margin-top: 0;
    opacity: 1;
  }

}

@keyframes fade {

  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }

}


//header

/*
header {

  div.menu {
    display: none;
  }

  div.hamburger {
    display: flex;
    justify-content: space-between;
    padding: 48px 0;

  }


}



.menu {
  display: none;
  position: absolute;
  overflow: hidden;
  top:0;
  bottom: 0;
  left: 0;
  right: 0;
  background: $orange;
  z-index: 100;

  > .wrap div {
    display: flex;
    justify-content: space-between;
    align-items: end;
    padding: 48px 0;
  }


  a {
    font-family: 'Media Sans Extended';
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 53px;
    color: $blue;
    display: block;
  }
}




.delete-image {
  z-index: 10;
}


*/



