footer {
  padding: 64px 0 32px 0;

  .copyright {
    font-size: 10px;
  }

  img {
    width: 30px;
  }


  div.language {
    display: flex;

    p a {
      text-transform: uppercase;
    }


    span::after {
      display: block;
      content: "|";
      color: $white;
      padding: 0 6px;
    }

  }

  p {
    text-align: center;
  }

  div.container {
    display: flex;
    flex-direction: column;
    justify-content: end;
    margin-bottom: 32px;
    text-align: right;

    > div {

      &:first-of-type {
        align-self: end;
        margin-bottom: 32px;
      }

      &:nth-of-type(2) {

      }
    }

  }

}





@media all and (max-width: 1024px) {


  footer {

    div.container {
      flex-direction: column;
      text-align: center;
    }

    .socials {
      margin:0 24px;
    }



    div.language {
      margin: auto;
    }
  }


}