/*
Font: 		ED Nimpkish
Style: 		Regular
URL: 		https://youworkforthem.com/font/T16914/ed-nimpkish
Foundry: 	Eko Setiawan
Foundry: 	https://youworkforthem.com/designer/1196/eko-setiawan
Copyright:	
Version: 	17
Created:	October 25, 2022
License: 	https://www.youworkforthem.com/font-license 
License: 	The WebFont(s) listed in this document must follow the YouWorkForThem
			WebFont license rules. All other parties are strictly restricted 
			from using the WebFonts(s) listed without a purchased license. 
			All details above must always remain unaltered and visible in your CSS.
*/

@font-face {
	font-family: 'EDNimpkish-Regular';
	src: url('ed-nimpkish-regular.eot');
	src: url('ed-nimpkish-regular.eot?#iefix') format('embedded-opentype'),
             url('ed-nimpkish-regular.woff2') format('woff2'),
	     url('ed-nimpkish-regular.woff') format('woff'),
	     url('ed-nimpkish-regular.ttf') format('truetype'),
	     url('ed-nimpkish-regular.svg#youworkforthem') format('svg');
	font-weight: normal;
	font-style: normal;
}
